html, body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

/* Use this to encapsulate different areas of the page */
.section{
    padding: 10px;
    height: 700px;
}

.section-title {
    padding: 10px;
    height: 100vh;
}

.section-chapters {
    padding: 10px;
    height: 700px;
}

.section-contact {
    padding: 10px;
    height: 700px;
}

/* Basic grid divider to help format subsections */
/* If using, must specify template rows/columns as an additional style element */
.divider {
    height: 100%;
    display: grid;
}

/* Grid divider to split the section in half vertically */
.vertical-divider-half {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Grid divider to split the section in half horizontally */
.horizontal-divider-half {
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
}

.divider-title {
    height: 100%;
    display: grid;
    grid-template-rows: 30% 40% 30%;
}

.divider-about {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-content {
    width: 100%;
}

.about-text {
    font-size: 1.5vw;
    margin: 10px auto;
    font-weight: bold;
    width: 80%;
}

.preamble-text {
    font-size: 1.5vw;
}

.preamble-text-small {
    font-size: 1vw;
}

.divider-chapters {
    height: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
}

.chapters-overview {
    font-size: 1.25vw;
}

.divider-contact {
    height: 100%;
    display: grid;
    grid-template-rows: 40% 60%;
}

.contact-text {
    font-size: 1.75vw;
}

.divider-officers {
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.officer-image {
    padding-top: 100%;
}

.officer-title {
    font-size: 1.5vw;
}

.officer-name {
    font-size: 1vw;
}

/* Sidebar class that should stick with the screen */
.sidebar {
    margin: 0;
    padding: 0;
    top: 0px;
    width: 150px;
    position: -webkit-sticky;
    position: sticky;
    height: 95vh;
    float: left;
    overflow: auto;
}

/* Sidebar references */
.sidebar a {
    display: block;
    margin: auto;
    color: black;
    text-decoration: none;
}

/* Content wrapper class for the content that goes next to the sidebar */
div.content {
    margin-left: 150px; /* This should equal the width of the sidebar */
    height: 2160px;     /* This should equal the number of sections times the height of each section including padding */
}

/* Responsive square element */
/* Must be wrapped in a div with the resize: horizontal property */
.square {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

/* Content to go inside a responsive square */
/* This allows you to put things inside a square, and have that content resize with the square */
.square-content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* Responsive circle element */
/* Must be wrapped in a div with the resize: horizontal property */
.circle {
    background: floralwhite;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border-radius: 50%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

/* Content to go inside a responsive circle */
/* This allows you to center things inside a circle, and have that content resize with the circle */
.circle-content {
    width: 75%;
    height: 75%;
    bottom: 12.5%;
    left: 12.5%;
    position: absolute;
}

/* Chapter cards */
.hidden-card {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    position: absolute;
    display: none;
}

/* button with slide in color change effect */
.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10rem;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: .15rem;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: black;
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: floralwhite;
        &:before {
            width: 100%;
        }
    }
}

/* Plaid Patterns */
.college-button {
    background: none;
    transition: all 5s;
}

/* Chapter button classes */
.chapter-button {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: floralwhite;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow:
    0.5em -0.5em #f5bd02,
    -0.5em 0.5em rebeccapurple;
}

.chapter-button:hover {
    box-shadow:
    1em -1em #f5bd02,
    -1em 1em rebeccapurple;
}

.chapter-text {
    width: 70%;
    text-align: center;
    display: block;
    padding: 5px;
}

hr {
    color: black;
    border-color: black;
    margin: 4px auto;
}

.hrr {
    color: crimson;
    border-color: crimson;
    transition: all ease-out 0.3s;
    width: 25%;
}

.chapter-text:hover > .hrr {
    width: 75%;
}

.officer-label {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: floralwhite;
}

.president-label {
    box-shadow:
    0.5em -0.5em #f5bd02,
    -0.5em 0.5em rebeccapurple;
}

/* Border classes */
.borderless {
    border-style: none;
}

.border-gold {
    border-color: goldenrod;
}

.border-red {
    border-color: crimson;
}

.border-purple {
    border-color: rebeccapurple;
}

h1 {
    margin-top: 0px;
}

.p1 {
    font-family: 'Courier New', Courier, monospace;
}

/*
    Text effects
*/

/* Typewriter animation for front page */
.flex-wrapper {
    display: flex;
    justify-content: center;
}

.typewriter p {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2vw;
    animation:
        typing 6s steps(74, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: black}
}

/* Title card text */
/* Transparent letters */
.text-hollow {
    color: floralwhite;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2.5px;
}

.stroke-thin {
    -webkit-text-stroke-width: 1.25px;
}

.text-title {
    font-size: 12vw;
}

.text-section {
    font-size: 5vw;
}

/* Gold shadow */
.text-shadow-gold {
    text-shadow: 6px 6px #f5bd02;
}

/* Red shadow */
.text-shadow-red {
    text-shadow: 6px 6px crimson;
}

/* Purple shadow */
.text-shadow-purple {
    text-shadow: 6px 6px rebeccapurple;
}

/* box classes */
/* off-white with border */
.box-label {
    background-color: floralwhite;
    width: fit-content;
    padding: 10px;
    margin: 10px auto;
    border: black solid 2px;
}

.box-tricolor-ur {
    box-shadow:
    1em -1em #f5bd02,
    1.75em -1.75em crimson,
    2.5em -2.5em rebeccapurple;
}

/* Greeting text */
.text-greeting {
    font-size: 3vw;
    width: fit-content;
    margin: 25% auto 0;
    padding: 10px;
    border: black solid 2px;
    background-color: floralwhite;
    box-shadow:
    -0.25em -0.25em #f5bd02,
    -0.5em -0.5em crimson,
    -0.75em -0.75em rebeccapurple;
}

@media screen and (max-width: 1080px) {
    .divider-about {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    .about-content {
        padding-top: 40%;
    }

    .section-contact {
        height: 1120px;
    }

    .divider-contact {
        grid-template-rows: 25% 75%;
    }
    
    .divider-officers {
        height: 100%;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
    }

    .officer-image {
        padding-top: 60%;
    }

    .officer-title {
        font-size: 1.75vw;
    }
    
    .officer-name {
        font-size: 1.25vw;
    }

    div.content {
        height: 2580px;
    }
}

@media screen and (max-width: 960px) {
    .divider-title {
        grid-template-rows: 25% 45% 30%;
    }

    .text-title {
        font-size: 13vw;
    }

    .about-content {
        padding-top: 50%;
    }

    .section-chapters {
        height: 1400px;
    }

    .divider-chapters {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    .chapters-overview {
        font-size: 1.5vw;
    }

    div.content {
        height: 3280px;
    }
}

@media screen and (max-width: 840px) {
    .text-title {
        font-size: 14vw;
    }

    .about-content {
        padding-top: 60%;
    }

    .chapters-overview {
        font-size: 2vw;
    }

    .section-chapters {
        height: 1200px;
    }

    .divider-chapters {
        grid-template-columns: 100%;
        grid-template-rows: 60% 40%;
    }

    .contact-text {
        font-size: 2.5vw;
    }

    .officer-title {
        font-size: 2vw;
    }
    
    .officer-name {
        font-size: 1.5vw;
    }

    div.content {
        height: 3080px;
    }
}

@media screen and (max-width: 720px) {
    .divider-title {
        grid-template-rows: 20% 50% 30%;
    }

    .text-title {
        font-size: 16vw;
    }

    .about-content {
        padding-top: 70%;
    }

    .about-text {
        font-size: 1.75vw;
    }

    .preamble-text {
        font-size: 1.75vw;
    }

    .preamble-text-small {
        font-size: 1.5vw;
    }

    .chapters-overview {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 600px) {
    .text-title {
        font-size: 18vw;
    }

    .about-content {
        padding-top: 80%;
    }

    .about-text {
        font-size: 2vw;
    }

    .preamble-text {
        font-size: 2vw;
    }

    .preamble-text-small {
        font-size: 1.75vw;
    }

    .chapters-overview {
        font-size: 3vw;
    }

    .contact-text {
        font-size: 3vw;
    }

    .section-chapters {
        height: 1000px;
    }

    .divider-chapters {
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
    }

    .section-contact {
        height: 1960px;
    }

    .divider-contact {
        grid-template-rows: 15% 85%;
    }
    
    .divider-officers {
        height: 100%;
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: 100%;
    }

    .officer-title {
        font-size: 4vw;
    }
    
    .officer-name {
        font-size: 2.5vw;
    }

    div.content {
        height: 3720px;
    }
}

@media screen and (max-width: 480px) {
    .section-title {
        height: 75vh;
    }

    .text-title {
        font-size: 20vw;
    }

    .about-content {
        padding-top: 90%;
    }

    .about-text {
        font-size: 3vw;
    }

    .preamble-text {
        font-size: 2.5vw;
    }

    .preamble-text-small {
        font-size: 2vw;
    }

    .chapters-overview {
        font-size: 3.5vw;
    }

    .contact-text {
        font-size: 3.5vw;
    }

    .sidebar {
        display: none;
    }

    .text-section {
        font-size: 8vw;
    }

    div.content {
        margin-left: 0;
    }
}
